<mat-toolbar color="primary" class="fix-nav top-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    <a href=""><img src="../../../../assets/images/shopix.png" alt="no image" class="pt-3" width="200px" height="150px"
        style="margin: 0;"></a>
  </div>
  <span class="nav-spacer"></span>
  <button class="hidden-sm" mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button (click)="onLoggedout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
